# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django migration files
*/migrations/*.py
!*/migrations/__init__.py

# Virtual environment
env/
venv/
ENV/

# Test files
templates/test.html

# Database files
*.sqlite3
db.sqlite3

# Local development settings
local_settings.py

# Media and static files
media/
staticfiles/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db